<link href="css/checkQrcode.css" rel="stylesheet" />
<div class="cq-container" ng-controller="checkQCtrl">

  <header>
    <a ui-sref="newQrcode" class="btn btn-info add-button">
      <i class="glyphicon glyphicon-plus"></i>新建模板
    </a>
  </header>

  <div class="showQrcode">

    <div class="qrcode" ng-repeat="qrcode in qrcodes">

      <div >
        <h6 ng-class="qrcode.templateConfirm==='true'?'selected':'none'">{{qrcode.templateName}}</h6>
      </div>

      <img src={{qrcode.templatePath}}>

      <div class="edit">
        <a ui-sref="updateQrcode" class="btn btn-labeled btn-palegreen updateQrcode" key={{qrcode.templateId}} ng-click="updateQrcode(qrcode.templateId)" ><i class="btn-label glyphicon glyphicon-plus"></i>修改</a>
        <a class="btn btn-labeled btn-darkorange deleteQrcode" key={{qrcode.templateId}} ng-click="deleteQrcode(qrcode.templateId,$index)" ><i class="btn-label glyphicon glyphicon-remove"></i>删除</a>
      </div>

    </div>

  </div>

  <!-- 删除确认弹框 -->
  <div class="modal-preview"  ng-class="showModal?'show':'noshow'">
    <div class="modal modal-primary">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" ng-click="deleteQrcode()" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">删除模板</h4>
          </div>
          <div class="modal-body">
            <p>确认删除此模板？</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-warning" data-dismiss="modal" ng-click="deleteQrcode()">取消</button>
            <button type="button" class="btn btn-primary" ng-click="deleteTemplate()">确认</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mask" ng-class="showModal?'show':'noshow'"></div>

  <div class="clear"></div>
</div>
