<link href="css/newQrcode.css" rel="stylesheet" />

<div class="newQrcode" ng-controller="updateQCtrl">
  <form role="form" method="post" name="template" ng-submit="submitTemplate()">
   <div class="newQ-container">
     <div class="title-div">
       <label>模板标题:</label>
       <input required id="templateName" name="templateName" ng-model="template.templateName" maxlength="25" placeholder="填写模板标题" type="text"/>       <div class="clear"></div>
     </div>
     <p>你可以拖动头像或者二维码的位置，或改变二维码的大小</p>
     <!-- 模板二维码编辑区域 -->
     <div class="edit-contianer">
       <div id="edit-temp" class="edit-template">
         <div class="templateImg"></div>
         <div id="qrcode" class="draggable ui-widget-content edit-img qrcode" ng-show="showQrcode">
            <img  id="qrcodeImg" src="imgs/qrcode.png"  />
         </div>
         <div id="toux"  class="draggable ui-widget-content edit-img toux" ng-show="showToux">
            <img id="touxImg" src="imgs/toux.jpg"/>
         </div>
       </div>
       <div class="operation" >
         <div class="checkbox">
           <label>
             <input type="checkbox" ng-model="select" class="template-confirm colored-success" checked="checked">
             <span class="text">设为默认模板</span>
           </label>
         </div>
         <div class="edit-qrcode">
           <a class="btn btn-default" ng-click="showQ(true)"><i class="glyphicon glyphicon-plus"></i>添加二维码</a>
           <a class="btn btn-default" ng-click="showQ(false)"><i class="glyphicon glyphicon-minus"></i>移除二维码</a>
         </div>
         <div class="edit-toux">
           <a class="btn btn-default" ng-click="showT(true)"><i class="glyphicon glyphicon-plus"></i>添加头像</a>
           <a class="btn btn-default" ng-click="showT(false)"><i class="glyphicon glyphicon-minus"></i>移除头像</a>
         </div>
       </div>
       <div class="clear"></div>
     </div>
     <button type="submit" class="submit-template btn btn-blue active">确认修改模板</button>
     <div class="clear"></div>
    </form>
   </div>
<!-- <script src="js/changeSize.js"></script> -->
<script>
  $(function() {
    $( "#qrcode" ).resizable({
      aspectRatio: 1 / 1,
      containment: "#edit-temp"
    });
    $( "#qrcode" ).draggable({
      containment: "#edit-temp",
      scroll: false
    });
    $( "#toux" ).draggable({
      containment: "#edit-temp",
      scroll: false
    });
  });
  </script>
