<div ng-controller="recordManageCtrl">
  <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
      <div class="databox radius-bordered databox-shadowed databox-graded">
          <div class="databox-left bg-orange">
              <div class="databox-piechart">
                  <span class="white font-200"><i class="fa fa-money"></i></span>
              </div>
          </div>
          <div class="databox-right">
              <span class="databox-number orange">{{money.wait | currency}}</span>
              <div class="databox-text darkgray">总提现金额</div>
              <div class="databox-stat orange radius-bordered">
                  <i class="stat-icon icon-lg fa fa-tasks"></i>
              </div>
          </div>

      </div>
  </div>
  <div class="col-xs-12 col-md-12">
      <div class="widget">
          <div class="widget-header  with-footer">
              <span class="widget-caption">待审核的提现记录表</span>
              <span ng-click="backTo(1)" class="widget-caption"style="float:right;margin-right:12px;cursor:pointer"><i class="glyphicon glyphicon-home"></i></span>
          </div>

          <div class="widget-body" style="height: auto;">

            <div class="flip-scroll">
              <!-- <div class="form-group" style="width:240px;float:right;">
                  <span class="input-icon">
                      <input type="text" ng-model="checkrecordId" class="form-control input" placeholder="按用户名查询提现记录">
                      <i ng-click="" class="glyphicon glyphicon-search blue"></i>
                  </span>
              </div> -->
              <div class="form-group" style="width:330px;float:left;">
                  <div class="controls">
                      <div class="input-group">
                          <span style="cursor:pointer" ng-click="checkByDate(1)" class="input-group-addon">
                              <i class="fa fa-calendar"></i>
                          </span>
                          <input ng-change="checkByDate(1)" ng-keyup="keyupDate(1)" type="text" ng-model="checkrecordDate" placeholder="按时间段查询提现记录" class="form-control" id="reservation">
                          <span style="cursor:pointer" ng-click="checkByDate(1)" class="input-group-addon">
                              点击查询
                          </span>
                      </div>

                  </div>
              </div>
                  <table class="table table-bordered table-striped table-condensed flip-content">
                      <thead class="flip-content bordered-palegreen">
                          <tr>
                              <th>
                                  序号
                              </th>
                              <th>
                                  用户
                              </th>
                              <th>
                                  提现金额（元）
                              </th>
                              <th class="numeric">
                                  提现方式
                              </th>
                              <th class="numeric">
                                  提现号码
                              </th>
                              <th class="numeric">
                                  真实姓名
                              </th>
                              <th class="numeric">
                                  手机号码
                              </th>
                              <th class="numeric">
                                  时间
                              </th>
                              <th class="numeric">
                                  操作
                              </th>
                          </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="record in record.wait">
                            <td>
                                {{(currentPage[0]-1)*size+$index+1}}
                            </td>
                            <td>
                              <a ui-sref="myWithdrawal" ng-click="checkMyWithdrawal(record.userId)">{{record.user.userName}}</a>
                            </td>
                            <td>
                                {{record.money | currency}}
                            </td>
                            <td class="numeric">
                                {{record.drawMoneyWay.way==1?'银行卡':'支付宝'}}
                            </td>
                            <td class="numeric">
                              {{record.drawMoneyWay.number}}
                            </td>
                            <td class="numeric">
                              {{record.drawMoneyWay.realName}}
                            </td>
                            <td class="numeric">
                              {{record.drawMoneyWay.phone}}
                            </td>
                            <td class="numeric">
                              {{record.creatTime}}
                            </td>
                            <td class="numeric">
                              <button ng-click="sure(record.drawMoneyWay.realName,record.money,record.id)">通过</button>
                              <button ng-click="reject(record.drawMoneyWay.realName,record.money,record.id)">拒绝</button>
                            </td>
                        </tr>
                      </tbody>
                  </table>
            </div>
            <!-- <ul class="pagination" ng-show="totalPage[0]>1" style="margin-top:20px;">
                <li ng-click="getPage(startDate,endDate,currentPage[0]-1,1)"  ng-class="currentPage[0]===1?'disabled':''"><a>«</a></li>
                <li ng-click="getPage(startDate,endDate,page,1)" ng-repeat="page in pageArr[0]" ng-class="currentPage[0]===page?'active':''">
                  <a>{{page}}</a>
                </li>
                <li ng-click="getPage(startDate,endDate,currentPage[0]+1,1)" ng-class="currentPage[0]===totalPage[0]?'disabled':''"><a>»</a></li>
            </ul> -->
            <pagination current-page="currentPage[0]" total-page="totalPage[0]" get-record="getRecord()">
            </pagination>
          </div>
      </div>
  </div>
  <!-- 通过待审核提现确认弹框 -->
  <div class="modal-preview"  ng-class="showModal?'show':'noshow'">
    <div class="modal modal-primary">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" ng-click="closeModel()" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">{{showModelTian.status?'允许':'拒绝'}}提现</h4>
          </div>
          <div class="modal-body">
            <p>您确认 {{showModelTian.status?'允许':'拒绝'}} 此项提现记录？</p>
            <p>{{showModelTian.name}} 提现 {{showModelTian.money}} 元</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-warning" data-dismiss="modal" ng-click="closeModel()">取消</button>
            <button type="button" class="btn btn-primary" ng-click="tixianModel()">确认</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mask" ng-class="showModal?'show':'noshow'"></div>
</div>
<script>
$(function() {
  $( ".modal-preview" ).draggable();
});
//--Bootstrap Date Range Picker--
      $('#reservation').daterangepicker();
</script>
