header{
  width: 100%;
  height:30px;
  line-height: 30px;
}
.add-button{
  float: right;
}
.showQrcode{
  width: 100%;
  padding: 10px;
}

.qrcode{
  width: 180px;
  float: left;
  margin: 28px;
  top: 0;
}
.clear{ clear:both}
.qrcode img{
  width: 180px;
  margin-bottom: 4px;
  position: relative;
}
.qrcode .edit{
  width: 100%;
  padding: 2px;
}
.qrcode .edit a{
  width: 48%;
  margin: 0;
}
.selected{
  width: 100%;
  margin: 0;
  line-height: 28px;
  color: #fff;
  background-color:#5db2ff;
  padding-left:8px;
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}
.none{
  width: 100%;
  margin: 0;
  line-height: 28px;
  color: #646464;
  background-color: #fff;
  padding-left:8px;
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}
