#role-permiss a{
  float: left;
  margin-right: 5px;
}
#role-div{
  width:450px;
}
#editabledatatable .role-name,.role-edit{
  width: 50px;
}
#editabledatatable .role-permiss{
  width: 250px;
}
#roleTree input{
  opacity: 1;
  position: relative;;
  left: 8px;
  margin-right: 8px;
}
.tree .tree-item, .tree .tree-folder .tree-folder-header{
  padding:0;
}
.tree-item{
  line-height: 28px;
}
.tree{
  padding-left: 18px;
  padding-top: 8px;
}
.new-role-permiss label{
  float: left;
  margin-bottom: 8px;
  margin-right: 3px;
}
.clear{
  clear: both;
}
.add-role{
  margin-top: 5px;
}
.add-role-model{
  position: fixed;
  width: 380px;
  top: 220px;
  left: 300px;
  z-index: 1000;
}
